VITE_API_URL=https://replace-me.execute-api.ap-south-1.amazonaws.com/Prod
VITE_WS_URL=wss://replace-me.execute-api.ap-south-1.amazonaws.com/Prod
VITE_COGNITO_USER_POOL_ID=ap-south-1_xxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxx
